@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:"Carlito",Helvetica, sans-serif;
  font-size: 1.125rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Carlito", sans-serif;
}

p > a {
  color: '#0EA5E9';
  text-decoration: underline;
}

textarea:focus-visible {
  outline: none;
  border-style: dashed;
  border-width: 3px;
  border-color: var(--foreground);

 
    background: var(--focusBackgroundColor);
    outline: 3px dotted rgb(80, 80, 80);
    outline-offset: calc(-1 * 3px);
    box-shadow: var(--focusBoxShadow);
    border-color: rgba(0, 0, 0, 0);
}